*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.pop-up{
	transition: 2s ease all;
	position: absolute;
	bottom: 20px;
	left: 20px;
	background: #e6e2d8;
	height: 10vh;
	width: 25%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	display: none;
	z-index: 1;
}
.visible{
	display: flex;
}
.invisible{
	display: none;
}
.pop-up span{
	position: relative;
	color: green;
	width: 100%;
	height: 20%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.pop-up p {
	word-wrap: break-word;
	padding: 10px;
}
.green{
	background: green;
}
.red{
	background: red;
}
.contacts{
	width:31%;
	height: 92vh;
	position: absolute;
	left: 0;
	top: 8vh;
	background: #0081f1;
	color: #fff;
	font-size: 0.7rem;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.one-contact{
	width: 100%;
	display: flex;
	border-bottom: 1px grey solid;
	overflow: hidden;
}
.message-box{
	background: #29adff;
	height: 100vh;
	width: 70%;	
	position: absolute;
	right: 0;
	border-left:1px solid #b6b8b6;

}
.App{
	display: flex;
}
.main{
	width: 100%;
	display: flex;
}

.profile-pic-small{
	border-radius: 50%;
	padding: 10px 10px;
	height: 70px;
}
.contact-data{
	display: flex;
	flex-direction: column;
	height: 50%;
	cursor: pointer;

}
.contact-name{
	padding: 10px 0;
}
.active-contact{
	background: rgba(0, 0, 0, 0.2);
}

.message-box-nav{
	display: flex;
	align-items: center;
	background: #fff;
	height: 8vh;
}
.messages{
	overflow-y: scroll;
	height: 86vh;
}
.messages ul{
	list-style: none;
}

.messages::-webkit-scrollbar,.contacts::-webkit-scrollbar {
  width: 10px;
}
.messages ::-webkit-scrollbar-track,.contacts ::-webkit-scrollbar-track {
  background: transparent;
}
.messages::-webkit-scrollbar-thumb,.contacts::-webkit-scrollbar-thumb  {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.message{
	background: white;
	width: fit-content;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 3px 20px;
	max-width: 70%;
	word-wrap: break-word;
  white-space:pre-wrap;
  position: relative;
}

.left-message{
	float: left;
	clear: both;
}

.right-message{
	float: right;
	clear: both;
}

.message-form{
	position: absolute;
	bottom: 0.5vh;
	height: 5vh;
	width: 95%;
	/*background: red;*/
	display: flex;

}
.message-form input{
	position: relative;
	width: 100%;
	margin: 0 1%;
	height: 100%;
	border-radius: 50px;
	padding: 0 25px;
	outline: none;
	border : none;
	font-size: 1rem;

}
.message-form button{
	width: 5vh;
	height: 5vh;
	outline: none;
	border : none;
	border-radius:50%;
}

.msg-status-icon{
	position: absolute;
	bottom: 0;
	right: 5px;
	font-size: 10px;
}
.msg-send-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}
.icon14{
	font-size: 14px;
}


  .auth-form {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
	padding-top: 25px;
	height: 60vh;
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	border-radius: 10px;
  }
  
  .input-box {
	margin-top: 10px;
	width: 90%;
	position: relative;
	height: 70px;
	overflow: hidden;
	font-size: 1.2rem;
  }
  
  .input-box input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	color: black;
	padding-top: 20px;
	padding-bottom: 0;
	outline: none;
	border: none;
	border-bottom: black solid 1px;
	font-size: 1.2rem;
  }
  
  .input-box label {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid white;
	pointer-events: none;
  }
  .input-box label::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid #00e1ff;
	transform: translateX(-100%);
	transition: all 0.4s ease;
  }
  .span {
	position: absolute;
	bottom: 5px;
	left: 0px;
	transition: all 0.3s ease;
  }
  #submit {
	  border-radius: 10px;
	cursor: pointer;
	margin: auto;
	background-color: rgb(0, 0, 0);
	color: #00e1ff;
	width: fit-content;
	height: fit-content;
	padding: 10px 20px;
	font-size: 1rem;
	border: none;
	outline: none;
  }
  #submit:hover {
	background-color: #00e1ff;
	color: rgb(254, 253, 255);
  }
  #submit:active {
	box-shadow: 0 0 25px white;
  }
  .input-box input:focus + .label span,
  .input-box input:valid + .label span {
	transform: translatey(-150%);
  }
  
  .input-box input:focus + .label::after,
  .input-box input:valid + .label::after {
	transform: translateX(0%);
  }


  .error-red{
  	color: red;
  	position: absolute;
  	bottom:10vh;
  	left: 50%;
  	transform: translateX(-50%);

  }

  .other-link{
  	position: absolute;
  	bottom:2vh;
  	left: 50%;
  	transform: translateX(-50%);

  }

.account-nav{
	width:30%;
	height: 8vh;
	padding: 0 10px;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

  .logout-btn{
  	font-size: 2rem;
  }

  .contact-form{
  	width: 100%;
  	height: 80%;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  }
  .contact-form input{
  	width: 90%;
  	border: none;
  	outline: none;
  	padding: 0 10px;
  }
  .add-contact-btn{
  	cursor: pointer;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-size: 1.2rem;
  	background: #0ff238;
  	width: 4vh;
  	height: 4vh;
  	border-radius: 50%;
  	border: none;
  	outline: none;
  }

