*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.backImg{
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.made-simple{
	position: absolute;
	top: 10%;
	left: 40%;
	transform: translate(-50%,-10%);
	display: flex;
	height: 10%;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
}
.made-simple h1{
	font-size: 3rem;
}
.made-simple p {
	font-size: 1.4rem;
}
.pop-up{
	transition: 2s ease all;
	position: absolute;
	right: 20px;
	top: 20px;
	background: #fff;
	height: 5vh;
	width: 18%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	display: none;
	z-index: 1;
}
.visible{
	display: flex;
}
.invisible{
	display: none;
}
.pop-up span{
	position: relative;
	color: green;
	width: 100%;
	height: 50%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.pop-up p {
	word-wrap: break-word;
	padding: 10px;
}
.green{
	background: #00ff00;
}
.red{
	background: #ff2e2e;
}
.contact-data{
	display: flex;
	flex-direction: column;
	height: 60%;
	cursor: pointer;
	position: relative;
	/*background: red;*/
	width: 100%;
	padding: 0 10px;
	justify-content: center;

}
.contacts{
	width:30%;
	height: 92vh;
	position: absolute;
	left: 0;
	top: 8vh;
	background: #23183d;
	color: #fff;
	font-size: 0.7rem;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
}
.one-contact{
	width: 96%;
	display: flex;
	overflow: hidden;
	padding: 8px 0;
	justify-content: center;
	align-items: center;
	margin: 8px 2%;
	background-color: rgb(17 ,6 ,43 ,0.2);
	border-radius: 10px;
}
.contact-name{
	font-size: 1.4rem;
}
.last-msg-content{
	position: absolute;
	display: inline-block;
	text-overflow: ellipsis;
	font-size: 1.1rem;
	overflow: hidden;
	white-space: nowrap;
	flex-grow: 1;
	left: 1em;
	max-width: 90%;
	}
.last-msg-data{
	position: relative;
	width: 80%;
	display: flex;
	overflow: hidden;
}

.lastmsg-time{
	padding: 5px;
	font-size: 0.9rem !important;
}

.msg-status-icon{
	position: absolute;
	bottom: 0;
	right: 5px;
	font-size: 12px;
}
.msg-send-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	background-color: #11062b;
	color: #fff;
}
.msg-send-btn svg path{
	stroke: #fff;
}

.icon14{
	font-size: 14px;
}
.last-msg .msg-status-icon{
	left :0;
	bottom: 5%;
	padding-right: 5px;
	position: relative;
	font-size:14px;
	padding-top:5px;
}
.last-msg .icon14{
	font-size: 18px;
}
.last-msg{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.unseen-sticker{
	position: absolute;
	right: 5%;
	top: 0;
	background: #ff00ee;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
}
.message-box{
	background: #23183d;
	height: 100vh;
	width: 70%;	
	position: absolute;
	right: 0;
	border-left:1px solid #11062b;

}
.App{
	display: flex;
}
.main{
	width: 100%;
	display: flex;
}

.profile-pic-small{
	border-radius: 50%;
	padding: 10px 10px;
	height: 70px;
}


.active-contact{
	background: #11062b;
}

.message-box-nav{
	display: flex;
	align-items: center;
	background: #11062b;
	height: 8vh;
	color: #fff;
}
.messages{
	overflow-y: scroll;
	height: 86vh;
}
.messages ul{
	list-style: none;
}

.messages::-webkit-scrollbar,.contacts::-webkit-scrollbar {
  width: 6px;
}
.messages ::-webkit-scrollbar-track,.contacts ::-webkit-scrollbar-track {
  background: transparent;
}
.messages::-webkit-scrollbar-thumb,.contacts::-webkit-scrollbar-thumb  {
  background-color: #ff00ee;
  border-radius: 2px;
}

.message{
	background: white;
	width: fit-content;
	padding: 3px 20px;
	border-radius: 10px;
	margin: 2px 20px;
	max-width: 70%;
	word-wrap: break-word;
  white-space:pre-wrap;
  position: relative;
  color: #000;

}
.greet-message{
	width: 100%;
	display: flex;
	justify-content: center;
}
.greet-message .message{
	border-radius: 8px;
	padding: 8px 20px;
	background-color: #c7ddff;
}
.left-message{
	float: left;
	clear: both;
	border-top-left-radius: 0;
	background-color:#11062b;
	color: #fff;
}

.right-message{
	float: right;
	clear: both;
	border-bottom-right-radius: 0;
	background-color: #ff00ee;
		color: #fff;

}

.message-form{
	position: absolute;
	bottom: 0.5vh;
	height: 5vh;
	width: 100%;
	/*background: red;*/
	display: flex;

}
.message-form input{
	position: relative;
	width: 98%;
	margin: 0 1%;
	height: 100%;
	border-radius: 50px;
	padding: 0 25px;
	outline: none;
	border : none;
	font-size: 1rem;
    background: #11062b;
    color: #fff;

}
.message-form button{
	margin-right: 1%;
	width: 5vh;
	height: 5vh;
	outline: none;
	border : none;
	border-radius:50%;
}

.sender-name{
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.sender-name p {
	padding: 0 2px;
}


  .auth-form {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
	padding-top: 25px;
	height: 60vh;
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	border-radius: 10px;
  }
  
  .input-box {
	margin-top: 10px;
	width: 90%;
	position: relative;
	height: 70px;
	overflow: hidden;
	font-size: 1.2rem;
  }
  
  .input-box input {
	width: 100%;
	height: 100%;
	background-color: transparent;
	color: black;
	padding-top: 20px;
	padding-bottom: 0;
	outline: none;
	border: none;
	border-bottom: black solid 1px;
	font-size: 1.2rem;
  }
  
  .input-box label {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid white;
	pointer-events: none;
  }
  .input-box label::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid #00e1ff;
	transform: translateX(-100%);
	transition: all 0.4s ease;
  }
  .span {
	position: absolute;
	bottom: 5px;
	left: 0px;
	transition: all 0.3s ease;
  }
  #submit {
	  border-radius: 10px;
	cursor: pointer;
	margin: auto;
	background-color: rgb(0, 0, 0);
	color: #00e1ff;
	width: fit-content;
	height: fit-content;
	padding: 10px 20px;
	font-size: 1rem;
	border: none;
	outline: none;
  }
  #submit:hover {
	background-color: #00e1ff;
	color: rgb(254, 253, 255);
  }
  #submit:active {
	box-shadow: 0 0 25px white;
  }
  .input-box input:focus + .label span,
  .input-box input:valid + .label span {
	transform: translatey(-150%);
  }
  
  .input-box input:focus + .label::after,
  .input-box input:valid + .label::after {
	transform: translateX(0%);
  }


  .error-red{
  	color: red;
  	position: absolute;
  	bottom:10vh;
  	left: 50%;
  	transform: translateX(-50%);

  }

  .other-link{
  	position: absolute;
  	bottom:2vh;
  	left: 50%;
  	transform: translateX(-50%);

  }
  .invisible{
  	display: none;
  }

.account-nav{
	width:30%;
	height: 8vh;
	padding: 0 10px;
	position: absolute;
	top: 0;
	left: 0;
	background: #11062b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.account-nav a {
	color: #fff;
}
  .logout-btn{
  	font-size: 2rem;
  }

  .contact-form{
  	width: 100%;
  	height: 80%;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  }
  .contact-form input{
  	width: 90%;
  	border: none;
  	outline: none;
  	padding: 0 10px;
  	font-size: 1.2rem;
  	background-color: #11062b;
  	color: #fff;
  }
  .add-contact-btn{
  	cursor: pointer;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-size: 1.2rem;
		background: #fff;
  	width: 4vh;
  	height: 4vh;
  	border-radius: 50%;
  	border: none;
  	outline: none;
  }

.msg-time{
	position: absolute;
	font-size: 0.9rem;
	bottom: 2px;
	right: 25px;
}
.left-message .msg-time{
	right: 10px;
}
.left-message .only-message{
	padding-right: 56px;
}
.only-message{
	margin: 5px 5px;
	padding-right: 70px;
}



@media screen and (max-width: 920px) {
	.contacts{
		width: 30%;
	}

.account-nav{
	width:30%;
}
	.message-box{
		width: 70%;
	}
	.backImg{
		width: 90%;
	}
	.made-simple h1{
	font-size: 1.5rem;
}
.made-simple p {
	font-size: 1rem;
}
}

